<style>
    iframe{
        width: 100%;
        height: 80vh;
    }
</style>
<div class="container">
    <h1>Lorem ipsum dolor sit amet.</h1>
    <div class="info my-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, voluptate molestias quo optio nemo provident accusantium incidunt facere ullam quod velit in quos aliquam iure eum, maiores eveniet harum omnis natus. Enim dolore porro velit, atque saepe hic laborum! Deserunt, alias exercitationem mollitia sed culpa distinctio ullam esse. Voluptate accusamus cum ipsam fugit assumenda, nulla error culpa animi labore, doloremque, laboriosam mollitia omnis saepe. Aperiam deserunt deleniti at sunt ullam perferendis libero exercitationem eligendi, magnam natus qui aliquid asperiores fugiat enim laudantium quidem cupiditate eaque? Repellat doloribus eveniet hic at nobis minus quo eius ut, recusandae blanditiis impedit voluptate sunt id veniam debitis maxime cum suscipit aut dolor laboriosam dolorum numquam. Laborum, repellat. Facilis nemo perspiciatis suscipit reiciendis iste, velit dolorem quisquam optio ab veritatis, id mollitia nobis quia sint voluptas non doloribus inventore architecto libero. Veritatis, voluptatem labore corrupti incidunt earum autem, quasi numquam commodi, aliquam impedit velit ad.
    </div>
    <iframe src="https://phet.colorado.edu/sims/html/fourier-making-waves/latest/fourier-making-waves_en.html" frameborder="2"></iframe>
</div>