<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<style>
    .ck-editor__editable_inline{
        height: 1200px;
    }
    .ck.ck-editor{
        width: 100%;
    }
</style>
<div class="container fluid">
    <h1>Maqola qo'shish</h1>
    <form action="/article/addArticle" method="post" enctype="multipart/form-data" class="d-grid gap-3">
        <div class="row">
            <div class="col">
                <label for="firstInput" class="form-label">Maqola sarlavhasi</label>
                <input 
                type="text" 
                class="form-control" 
                id="firstInput"
                name="title" 
                placeholder="Maqola sarlavhasi">
            </div>
            <div class="col">
                <label for="secondInput" class="form-label">Maqolaning yana bir muallifi</label>
                <input 
                type="text" 
                class="form-control" 
                id="secondInput" 
                name="another-author"
                placeholder="Maqolaning yana bir muallifi">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label">Maqolaning qisqa sharxi</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="preview" rows="3"></textarea>
            </div>
            <div class="col">
                <label for="formFile" class="form-label">Maqola ko'rinishi uhcun rasm</label>
                <input 
                class="form-control" 
                type="file"
                name="previewPicture" 
                id="formFile">
            </div>
        </div>
        <div class="row">
            <h2>Maqolani bu yerga yozing</h2>
            <textarea class="form-control"  id="textEditor" name="body" style="width: 100%;"></textarea>
        </div>
        <button type="submit" class="btn btn-primary w-50 mx-auto">Jo'natish</button>
    </form>
    <script>
        ClassicEditor
            .create( document.querySelector( '#textEditor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</div>