<script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
<div class="container">
    <h1>Tuzgan testingiz uchun savollarni kiritishni boshlang</h1>
    <form action="/contest/add/{{id}}" method="post">
        <div class="questions">
            <div class="row"  id="question1">
            <div class="col">
                <label for="question" class="form-label">Savol matni</label>
                <textarea class="form-control"  id="textEditor" name="question">Savol matni</textarea>
            </div>
            <div class="col">
                <label for="1-question" class="form-label">Savolning javoblari(To'g'ri javobni oldin kiriting)</label>
                <textarea  
                class="form-control mb-1" 
                id="answers-1"
                name="answers" 
                >1-javob</textarea>
                <textarea  
                class="form-control mb-1" 
                id="answers-2"
                name="answers" 
                >2-javob</textarea>
                <textarea  
                class="form-control mb-1" 
                id="answers-3"
                name="answers" 
                >3-javob</textarea>
                <textarea  
                class="form-control mb-1" 
                id="answers-4"
                name="answers" 
                >4-javob</textarea>
            </div>
            </div>
    </div>
    <div class="row d-flex" id="buttons">
        <button class="btn btn-primary w-50" type="submit">Yangi savol</button>
        <a class="btn btn-primary w-50" href="/contest/">Yuborish</a>
    </div>
    </form>
</div>
<script>
    ClassicEditor
            .create( document.querySelector( '#textEditor' ) )
            .catch( error => {
                console.error( error );
            } );
        ClassicEditor
            .create( document.querySelector( '#answers-1' ),{
            })
            .catch( error => {
                console.error( error );
            } );
            ClassicEditor
            .create( document.querySelector( '#answers-2' ) )
            .catch( error => {
                console.error( error );
            } );
            ClassicEditor
            .create( document.querySelector( '#answers-3' ) )
            .catch( error => {
                console.error( error );
            } );
            ClassicEditor
            .create( document.querySelector( '#answers-4' ) )
            .catch( error => {
                console.error( error );
            } );
    val=1;
    document
    function add(){
        val++;
        document.getElementsByClassName(`questions`)[0].innerHTML+=`
            <div class="row"  id="question1">
            <div class="col">
                <label for="${val}-question" class="form-label">${val}-savol</label>
                 <textarea class="form-control" id="${val}-question"
                name="${val}-question" rows="6">${val}-savol</textarea>
            </div>
            <div class="col">
                <label for="${val}-question" class="form-label">${val}-savol uchun javoblar</label>
                <input 
                type="text" 
                class="form-control mb-1" 
                id="${val}-1-answer"
                name="${val}-1-answer" 
                placeholder="1-javob">
                <input 
                type="text" 
                class="form-control mb-1" 
                id="${val}-2-answer"
                name="${val}-2-answer" 
                placeholder="2-javob">
                <input 
                type="text" 
                class="form-control mb-1" 
                id="${val}-3-answer"
                name="${val}-3-answer" 
                placeholder="3-javob">
                <input 
                type="text" 
                class="form-control mb-1" 
                id="${val}-4-answer"
                name="${val}-4-answer" 
                placeholder="4-javob">
            </div>
            </div>
        `
        ClassicEditor
            .create( document.querySelector( '#answers-1' ) )
            .catch( error => {
                console.error( error );
            } );
        
    }
</script>
